@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #19143e; /* Deep Navy*/
  --color-secondary: #d02b27; /* Red*/
  --color-tertiary: #df6427; /* Orange*/

  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;

  --color-background: #f9f9ff;
  --color-surface: #f9f9ff;

  --color-surface-container: #f0f3ff;
  --color-surface-container-high: #e7eeff;
  --color-surface-container-highest: #d8e3fb;

  --color-on-surface: #19143e;
  --color-on-surface-variant: #454652;

  --color-outline: #767683;
  --color-outline-variant: #c6c5d4;

  --color-error: #ba1a1a;

  --font-sans: "Source Sans 3", sans-serif;
}

.body-lg {
  font-size: "18px";
  /* lineheight: "28px"; */
  /* fontweight: "400"; */
}

.glass-layer {
  background: rgba(25, 20, 62, 0.4);
  backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.glass {
  backdrop-filter: blur(5px);
  border: 1px solid rgba(173, 159, 159, 0.1);
}
.alchemist-glow {
  background: radial-gradient(
    circle,
    rgba(223, 100, 39, 0.15) 0%,
    rgba(223, 100, 39, 0) 70%
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll 30s linear infinite;
}
